{% extends "base.html" %}
{% block content %}

<h4>{{ 'Edit' if expense else 'Add' }} Expense</h4>

<form method="post">

<div class="mb-3">
<label>Date</label>
<input type="date" name="date"
class="form-control"
value="{{ expense.date if expense else '' }}"
required>
</div>

<div class="mb-3">
<label>Category</label>
<select name="category" class="form-select" required>

<option value="">Select Category</option>

{% for c in categories %}
<option value="{{ c }}"
{% if expense and expense.category == c %}
selected
{% endif %}
>
{{ c }}
</option>
{% endfor %}

</select>
</div>

<div class="mb-3">
<label>Description</label>
<input name="description" class="form-control"
value="{{ expense.description if expense else '' }}">
</div>

<div class="mb-3">
<label>Amount</label>
<input type="number" step="0.01"
name="amount"
class="form-control"
required
value="{{ expense.amount if expense else '' }}">
</div>

<div class="mb-3">
<label>Payment Mode</label>
<select name="mode" class="form-control">
<option>Cash</option>
<option>Bank</option>
<option>UPI</option>
</select>
</div>

<button class="btn btn-primary">Save</button>

</form>

{% endblock %}